.cv-body-header {
  height: 50px;
  width: 100%;
  margin-bottom: 1em;
}

.cv-body-header-line {
  float: left;
  border-bottom: 1px dotted;
  width: -moz-calc(~'100% - 80px');
  width: -webkit-calc(~'100% - 80px');
  width: -o-calc(~'100% - 80px');
  width: calc(~'100% - 80px');
  padding-top: 25px;
  margin-left: 30px;
}
.cv-body-header-icon {
  position: relative;
  float: left;
  background: black;
  height: 50px;
  width: 50px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  -o-webkit-border-radius: 200px;
  border-radius: 200px;
}

.cv-body-header-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
