@import "./cvBodyFooter";
@import "./cvBodyHeader";


.cv-body {
    height: 100%;
    width: 100%;


    .bod {
        margin-left: @mobile-min;
        padding-left: 30px;

        //word-wrap: break-word;
        word-break: break-all;
        min-width: @mobile-min;
        width: 50%;
        @media(max-width: @mobile) {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    .topic {
        width: 100%;
        margin-bottom: 2em;
    }

    .topic-first {
        margin-top: 1em;
    }

    .topic-work {
    }

    .topic-education {
    }

    .topic-projects {
    }

    .simpleTopic {
        width: 130px;
        float: left;
        margin-right: 30px;
    }

    .simpleTopic h2 {
        vertical-align: top;
        padding-top: 0;
        margin-top: 0;
    }

    .simpleTopic ul {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
    }

    .simpleTopic li {
        overflow: hidden;
        word-wrap: normal;
        text-overflow: ellipsis;
    }

    .entry {
        width: 160px;
        margin-right: 45px;
    }

    .entry-title {
        padding: 0;
        margin: 0;
    }

    .entry-org {
        padding: 0;
        margin: 0;
        color: #A6C634;
    }

    .entry-city {}

    .entry-date {}

    .entry-description {
        height: 100%;
        width: 100%;
        vertical-align: top;
    }
}
