.cv-body-footer {
  width: 100%;
  // box-sizing: border-box;
  // border: 1px solid black;
}
.cv-body-footer-skills {
  float: left;
  width: 400px;
  // box-sizing: border-box;
  // border: 1px solid red;
}
.cv-body-footer-interests {
  float: right;
  width: 200px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  // box-sizing: border-box;
  // border: 1px solid green;
}
