@import "./cvBodyFooter";
@import "./cvBodyHeader";


.cv-body {
  position: absolute;
  left: 290px;
  top: 0;
  width: 640px;
  height: 100%;
  overflow: hidden;
  word-wrap: break-word;
  // box-sizing: border-box;
  // border: 1px solid black;
}


.cv-body-topic {
  width: 100%;
  margin-bottom: 2em;
}

.cv-body-topic-first {
  margin-top: 1em;
}

.cv-body-simpleTopic {
  width: 130px;
  float: left;
  margin-right: 30px;
}
.cv-body-simpleTopic h2 {
  vertical-align: top;
  padding-top: 0;
  margin-top: 0;
}
.cv-body-simpleTopic ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.cv-body-simpleTopic li {
  overflow: hidden;
  word-wrap: normal;
  text-overflow: ellipsis;
}
.cv-body-entry {
  width: 160px;
  margin-right: 45px;
  // box-sizing: border-box;
  // border: 1px solid red;
}
.cv-body-entry-title {
  padding: 0;
  margin: 0;
}
.cv-body-entry-org {
  padding: 0;
  margin: 0;
  color: #A6C634;
}
.cv-body-entry-city {}
.cv-body-entry-date {}
.cv-body-entry-description {
  height: 100%;
  width: 100%;
  vertical-align: top;
  // box-sizing: border-box;
  // border: 1px solid black;
}
