.footer {
    width: 100%;
}

.footer-skills {
    float: left;
    width: 60%;
    padding-right: 2em;
}

.footer-interests {
    float: left;
    width: 33%;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
