.personaliaColumn {
    position: fixed;
    height: 100%;
    width: @mobile-min;
    background-color: #D7D9D9;
    text-align: center;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;

    h1 {
        padding: 0;
        margin: 0;
    }

    .padding {
        padding: 20px;
    }


    .name {
        text-align: left;
    }

    .profilePicture {
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
    }

    .keyQualifications {
        text-align: justify;
        text-justify: inter-word;
    }

    .socialNetworks {
        position: absolute;
        bottom: 2em;
        @media(max-width: @mobile) {
            position: relative;
            padding-top: 2em;
        }
    }

    .contact {
        height: 80px;
        width: 100%;
        border-bottom: 1px dotted gray;
        padding-top: 35px;
    }

    @media(max-width: @mobile) {
        width: 100%;
        position: relative;;
    }
}
